<link href="/css/sticky-footer-navbar.css" rel="stylesheet">
<footer class="footer">
  <div class="container">
    <p class="logo">Created in: <a href="http://stfalcon.com/en" style="color: #6a747c; border: 0; text-decoration:none;"><i class="icon-stfacon"></i>stfalcon.com</a></p>
  </div>
</footer>